html, body {
    margin: 0;
    padding: 0;
  } 
.video-container {
    display: none; /
    position: fixed;
    z-index: -1; 

}
/* My goal with the layout was for everything to have a central position, this keeps focus on the Video and provides very easy
navigation */
p {
    color: white; /* Text color */
    font-size: 24px;
}
h1 {
    color: white; /* Text color */
    font-size: 35px;
    display: flex;
justify-content: center;
align-items: center;
}
h2 {
    color: white; /* Text color */
    font-size: 24px;
    display: flex;
justify-content: center;
align-items: center;
}
footer {
    color: white; /* Text color */
    font-size: 24px;
}
video {
    display: block;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
}
.overlay.fade-out {
    opacity: 0;
}
/* was going to add fade out using key frames but couldn't get it to work */
.overlay-text-container {
    background-color: transparent;
    padding: 20px;
}
.overlay-text {
    color: white;
    font-size: 24px;
    text-align: center;
}
#backgroundVideoBlurred {
    position: fixed;
    left: -2em;
    top: -1em;
    min-width: 150%; 
    min-height: 150%;
    object-fit: fill;
    filter: blur(10px); 
    z-index: -1
    ; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d215d;
    text-align: center; /* Centered the list to add focus on video*/
  }
  /* positioned menu below video as it provides better flow*/
  li {
    display: inline-block; 
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: black;
  }

  #content {
    display: none; /* Hides the text initially so text wont appear until menu item is clicked on */
    text-align: center; /* Centers the text to match the central a compact viewing of this website */
    background-color: rgb(24, 10, 44); /* went with a daker purple then the menu to ceate a flow in the colour choics which match the aesthetics of the video */
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
