* {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  font-size: 1.2rem;
}

/* Used this font as it's simple easy to read and applys a more laid back look which suits the nature of the assignment */
/* My goal with the layout was for everything to have a central position, this keeps focus on the Video and provides very easy
navigation */
h1 {
  font-size: 2.5rem;
  color: #B2491C;
  font-weight: 900;
  text-align: center;
}
h2 {
  font-size: 2.5rem;
  color: #B2491C;
  font-weight: 900;
  text-align: center;
}
a:link {
  color: #B2491C;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(250, 213, 145);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
h3 {
  font-size: 1.6rem;
  padding-top: 2px;
  padding-bottom: 10px;
  text-align: center;
  color:#B2491C;
}
h4 {
  font-size: 1.6rem;
  padding-top: 2px;
  padding-bottom: 10px;
  text-align: center;
  color:#B2491C;
}
h5 {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: px;
  text-align: center;
  color:#D3752F;
}
p {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4rem;
  padding-bottom: 15px;
  color:#777769 ;
}


 {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  background-color: #171725;
}
/* Attempted to follow color pallete of getty website with the orange fonts, struggled to find suitable background colour, went with a dark blue as makes orange super readable. 
however had to go with a grey with the Ps as when origanally orange was super ugly. still pretty ugly though. */