body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}
/* here you can see that page intro container, just so i didn't have to allighn the sext everytime when styling the titles and paragraphs */
.pageintro {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #ffffff; 
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #e47878; 
}

p {
    font-size: 1.2em;
    margin-top: 0;
    color: #b4b1b1; 
}
/* when with basic text colours to stand out agaisnt the background. chose red for h2 as it pops out just a little more */

/* same thing with the page intro area, just made it easier to edit and add other controls in didn't have to include independent styling */
#controls {
    text-align: center;
    margin: 20px;
}

/* setting up the two zones, so I could space them more easily if they both sit in a container */
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

#iconZone {
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    background-image: url('roadcase.png');
    background-size: cover; /* so image covers the whole area */

}
#dropArea {
    width: 65%;
    height: 300px;
    border: 2px dashed #ff0000; /* so zone pops out a little more */
    position: relative;
    background-image: url('Stage.jpg');
    background-size: cover; 
    background-position: center; 
    background-size: cover; /* image to cover the whole area */
}

#dropArea p {
    color: white; 
    font-size: 16px; 
    text-align: center; 
} /* just a little instructio to make website more clear. */

.icon {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
} /* so icons are evenly sized and spaced in the icon zone */


.icon img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    pointer-events: none;
 
} /* so icon imgs fit in the icons, have problems with getting image to fill the whole icon area */

#bin {
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 50px;
    position: relative;
    margin-top: 10px;
} /* made red so it's easy to see tried to make the size of the icon for visual cohesion. */

#volumeControls {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: #f0f0f0;
}

